.wrapper{
	display: grid;
	grid-auto-columns: 100%;
	grid-template-rows: 100%;
	
	padding-top: 5em;
}

.heading{
	text-align: center;
	font-family: times new romans;
	font-style: oblique;
	font: bold;
	
}

.email{
	text-align: center;
	font-family: times new romans;
	font-style: oblique;
	font: bold;
	font-size: 30px;
	background-color: linen;
}

.container{
	background-color: linen;
	border-style: double;
	border-radius: 1em;
	border-width: 5px;
}
